// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.topicTable
{
	margin-top:50px;
	border: 2px solid #4D94FF;

}

.topicTable th
{
	padding: 8px;
	background-color: #82B4FF;
}

.topicTable td
{
	background-color: #ffffff;
}

.tableLongTxt
{
	text-align:left;
	padding: 0px 30px 0px 2px;
	float:left;
}

.tableShortTxt
{
	text-align:center;
	padding: 0px 10px 0px 10px;
}

.tableBtn
{
	text-align:center;
	padding: 0px 15px 0px 15px;
}

.tbxTitle
{
	width:500px;
}

.tbxDescription
{
	height:100px;
	width:500px;
}
