// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



table.topicTable
{
	margin-top:50px;
	border: 2px solid #B4CDFF;

}

table.topicTable th
{
	padding: 8px;
	padding-right: 30px;
	background-color: #CCEBFF;
}

table.topicTable td
{
	padding: 1px 30px 1px 1px;
	background-color: #ffffff;
}

.tdCenter
{
	ruby-align: center;
}

.tbxTitle
{
	width:300px;
}


.tbxDescription
{
  	width:300px;
	height:100px;
}


#div1:hover ~ div:nth-child(1n) { background: yellow; }
